.destinationsHero{
    margin: 0 auto;
    background-image: url('../../../assets/destinations/Destinations.gif');
    height: 660px;
    width: 93%;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 200px;
    h1 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
    }
    a:active {
        color: #4A21EF;
    }
}