.footer {
    background-color: #F5F7FA;
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 72px 182px;
    .footer-left {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        justify-content: flex-start;
        gap: 14px;
        p:nth-of-type(1) {
            font-size: 14px;
            text-align: left;
            margin: 0;
        }
        .copyrightLargeScreen {
            font-size: 12px;
            text-align: left;
            margin: 0;
        }
    }
    .footer-right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        .copyrightSmallScreen {
            display: none;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
            font-weight: 400;
            font-size: 14px;
        }
    }
    h5 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p {
        color: #3A4D5A;
        font-weight: 400;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 64px 30px 32px 30px;
        grid-template-columns: 1fr;
        gap: 24px;
        .footer-left {
            grid-template-rows: 1fr 1fr;
            .copyrightLargeScreen {
                display: none;
            }
        }
        .footer-right {
            grid-template-columns: 1fr;
            gap: 24px;
            .copyrightSmallScreen {
                display: block;
                font-size: 12px;
                text-align: left;
                margin: 0;
            }
        }
    }
}
