.availableTripsSection {
    padding: 100px 72px 120px 72px;
    h1 {
        font-size: 36px;
        color: #141D24;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
}