.heroSection {
    background: url("../../../assets/italy/italyHero.png");
    background-size: cover;
    background-position: center;
    width: 94%;
    height: 80vh;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    h1 {
        font-size: 48px;
        color: #fff;
        font-weight: 600;
    }
    p {
        margin-top: 16px;
        text-align: center;
        color: #fff;
        font-weight: 600;
        margin: 0;
    }
    button {
        background-color: #4A21EF;
        color: #FFFFFF;
        padding: 12px 24px;
        border-radius: 100px;
        border: none;
        margin-top: 24px;
    }
}