.mapSection {
    height: 86vh;
    background: url("../../../assets/italy/mapItaly.png");
    .card {
        margin-top: 210px;
        display: flex;
        justify-content: flex-end;
        padding-right: 72px;
    }
    .top {
        padding: 36px 72px;
        height: 50px;
        background: linear-gradient(#97A5B2, #97A5B200);
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 32px;
            color: #fff;
            font-weight: 600;
        }
        .arrows {
            display: flex;
            gap: 16px;
            div {
                border-radius: 100px;
                padding: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                width: 48px;
                height: 48px;
                cursor: pointer;
            }
        }
    }
}