.mustSeeSection {
    padding: 120px 72px;
    h1 {
        font-size: 36px;
        color: #141D24;
        text-align: center;
        margin-bottom: 40px;
    }
    .cardsContainer {
    display: flex;
    gap: 24px;
    justify-content: center;
    }
}